body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f9;
  }
  
  h1 {
    color: #333;
    background-color: grey;
  }
  
  #stock-prices {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #fff;
    border-radius: 5px;
    display: inline-block;
  }

  #logo {
    text-align: center;
    margin-bottom: 20px;
  }
  
  #uber-logo {
    width: 150px; /* Adjust the width as needed */
    height: auto;
  }
  
  
  p {
    margin: 10px 0;
  }
